body{
  padding: 8% 5%;
  max-width: 120%;
  margin: 0 auto;
  font-size:25px;
  font-family: "comic sans MS",cursive;
  padding-bottom: 1%;
  background-color: lightblue;
}



h1{
  text-align: center;
  background-color:#f8981c;
  font-family:"comic sans MS",cursive;
  font-weight: 800;
  font-size: 30px;
  letter-spacing: 4px;
  line-height: 2.5;
  color:white;
  border-style: solid;
   border-width: 2px 10px 4px 20px;
}

.heading{
  margin-left: 10%;
  font-size: 25px;
}
p{
  padding: 1%;
  font-weight: 250;
  color: blue;
}
